.vscode
vendor
config.php
game/qq.png
game/qq.txt
game/qq_orig.png
game/base*
game/cookies.json
game/task.json
game/failed
game/training/
game/captcha_model_best.pth
game/training_history.png
git_preschools
